<div class="container-fluid row">
  <div class="col">
    <p>Name: <strong><%= comment.name %></strong></p>
    <div class="row">
      <div class="col">
        <p>Body: <%= comment.body %></p>
      </div>
      <div class="col-9" style="color: blue">
        <p><%= time_ago_in_words(comment.created_at) %> Ago</p>
      </div>
    </div>

  </div>
  <div class="col">
      <%= link_to 'Delete', [comment.post, comment],
                  method: :delete,
                  class: "btn btn-light",
                  data: {confirm: "Are You Sure"}
      %>
  </div>
</div>
<hr>