<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="form-group row">
    <%= f.label :name, :class =>"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name , :class => "form-control" , :placeholder => "Name"%>
    </div>
  </div>


  <div class="form-group row">
    <%= f.label :body, :class =>"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_area :body , :class => "form-control" , :placeholder => "Post Body"%>
      <br>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @post.errors[:body].each do |msg| %>
              <li class="p-3 mb-2 bg-danger text-white">Body <%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <%= f.submit :class => "btn btn-primary" %>

<% end %>