<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ROR Blog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts/new">New Post</a>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <% if user_signed_in? %>
            <a class="nav-link" href="#" >Log Out</a>
          <%end %>
          <% if !user_signed_in? %>
          <a class="nav-link" href="/users/sign_in" >Sign In</a>
          <a class="nav-link" href="/users/sign_up" >Sign Up</a>
            <%end %>
        </div>
      </div>
    </nav>
  </head>

  <body>
  <div class="container-fluid">

  <%= yield %>
  </div>
  </body>
</html>
